{% extends 'base.html' %}
{% block title %}LibManage{% endblock title %}
{% block body %}
<h3 style="align:center">Welcome to Registration Page</h3>
<form action="/addBook" method="post" Required>
{% csrf_token %}
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title"><br>
  <br>
  <label for="ISBN">ISBN:</label><br>
  <input type="text" id="ISBN" name="ISBN"><br>
  <br>
  <label for="">author</label><br>
  <input type="text" id="author" name="author"><br>
  <br>
  <label for="publication">publication</label><br>
  <input type="text" id="publication" name="publication"><br>
  <br>
  <label for="genre">Genre:</label><br>
  <input type="text" id="genre" name="genre"><br>
  <br>
  <label for="available">Availability</label><br>
  <input type="text" id="available" name="available"><br>
  <br>
  <label for="summary">Summary</label><br>
  <input type="textarea" id="summary" name="summary"><br>
  <br>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock body %}
