{% extends 'base.html' %}

{% block title %}LibManage{% endblock title %}
{% block body %}

    {% if allBooks %}
        {% for bookitem in allBooks %}
            <form action='\bookpage' method='get'>
                <h5>Title : {{bookitem.title}}</h5>
                <p>Author : {{bookitem.author}}
                <input type='hidden' value={{bookitem.id}} name='id'>
                <button type='submit'>Open</button>
                </p>
                <hr>
            </form>
        {%endfor%}
    {% else %}
        <h4>No books in library</h4>
    {% endif %}

{% endblock body %}
