{% extends 'base.html' %}
{% comment %} after extending from base.html, wherever 
variables are specified in base.html, thos can be changed {% endcomment %}

{% block title %}LibManage{% endblock title %}
{% block body %}

    {% for bookitem in allBooks %}
        <form action='\bookpage' method='post'>
        {% csrf_token %}
            <h5>Title : {{bookitem.title}}</h5>
            <p>Author : {{bookitem.author}}
            <input type='hidden' value={{bookitem.id}} name='id'>
            <button type='submit'>Open</button>
            </p>
            <hr>
        </form>
    {%endfor%}

{% endblock body %}
