{% extends 'base.html' %}
{% comment %} after extending from base.html, wherever 
variables are specified in base.html, thos can be changed {% endcomment %}
{% block title %}LibManage{% endblock title %}
{% block body %}

<h2>{{title}}</h2>
<p><b>Author:</b>{{author}}</p>
<p><b>Publication:</b>{{publication}}</p>
<p><b>ISBN:</b>{{isbn}}</p>
<p><b>Genre:</b>{{genre}}</p>
<p><b>Summary:</b>{{summary}}</p>
<p><b>Availability:</b>{{available}}</p>

{%if request.user.is_authenticated%}
    {% ifnotequal request.user.profile.account_type 'user'%}
        <form action='edit_book' method='get'>
        {% csrf_token %}
            <input type='hidden' value={{id}} name='id'>
            <button type='submit'>Edit Book Details</button>
        </form>
    {% else %}
        <form action='profile' method='post'>
        {% csrf_token %}
            <input type='hidden' value={{id}} name='id'>
            <button type='submit'>Borrow Book</button>
        </form>
    {%endifnotequal%}
{% else %}   
    <p><b>Please login to be able to burrow book or edit book details</b></p>
{%endif%}

{% endblock body %}

