{% extends 'base.html' %}
{% block title %}LibManage - Homepage{% endblock title %}
{% block body %}
    
<br>
    <form action='all_books'>
        <button type='submit'>View All Books in Library</button>
    </form>
    <hr>
    {%if request.user.is_authenticated%}
        {% if request.user.profile.account_type != 'user'%}
            <form action='display_users'>
                <button type='submit'>View Users of Library</button>
            </form>
        {% endif %}
    {% endif %}
    <hr>
    <form action='book_searched' method='get'>
    {% csrf_token %}
        <input type='hidden' value='genre' name='type'>
        <label for="genre">Filter Books by Genre:</label><br>
        <select id='genre' name='genre'>
            <option value='Science & Technology'>Science & Technology</option>
            <option value='Humanities & Social Sciences'>Humanities & Social Sciences</option>
            <option value='Fiction'>Fiction</option>
            <option value='Romance'>Romance</option>
            <option value='Graphic Novel'>Graphic Novel</option>
            <option value='Short Story & Essays'>Short Story & Essays</option>
            <option value='Poem'>Poem</option>
            <option value='Memoir & Autobiography'>Memoir & Autobiography</option>
            <option value='Food & Drink'>Food & Drink</option>
            <option value='Art & Photography'>Art & Photography</option>
            <option value='Self-help & Personal Growth'>Self-help & Personal Growth</option>
            <option value='Mythology'>Mythology</option>
            <option value='Travel'>Travel</option>
        </select>
        <button type='submit'>GO!</button>
    </form>
    <hr>
{% endblock body %}