{% extends 'base.html' %}
{% comment %} after extending from base.html, wherever 
variables are specified in base.html, thos can be changed {% endcomment %}
{% block title %}LibManage{% endblock title %}
{% block body %}
<h3>This is my profile page</h3>
<p>
    <b>Name:</b>{{ user.username}}<br>
    <b>Email:</b>{{ user.email }}<br>
    <b>Account Type:</b>{{ user.profile.account_type }}<br>
</p>

<a href="logout_user"><button>Logout</button></a>
{% comment %} <a href="change_access"><button>Change Access</button></a> {% endcomment %}

{% ifnotequal user.profile.account_type 'user' %}
    <hr>
    <h4>Book Borrowing Requests</h4>
    {% for request in book_requests %} 
        <form action='profile' method='post'>
        {% csrf_token %}
        <input type="hidden" name= 'id' value={{request.id}}>
        <p><b>Book Requested:</b>{{request.title}}  by   <b>User:</b>{{request.user}}
        <button type='submit'>Accept Request</button>
        </p>    
        <form>
        
    {% endfor %}
    
    <hr>
    <h4>Books Borrowed</h4>
    {% for request in borrowed_books %}
        <form action='book_returned' method='post'>
        {% csrf_token %}
            <p><b>Borrowed Book:</b>{{request.title}}  by   <b>User:</b>{{request.user}} 
            <input type="hidden" name= 'id' value={{request.id}}>
            <button type='submit'>Book Returned</button>
            </p>
        </form>   
    <hr>
    {% endfor %}
{% else %}
    <hr>
    <h4>Books Requested by you</h4>
    {% for request in book_requests %}
        <p><b>Book Title:</b>{{request.title}} | <b>Author:</b>{{request.author}}</p>
    {% endfor %}
    <hr>
    <h4>Books Borrowed by you</h4>
    {% for request in borrowed_books %}
        <p><b>Book Title:</b>{{request.title}} | <b>Author:</b>{{request.author}}</p>
    {% endfor %}
    <hr>
{% endifnotequal %}
{% endblock body %}
