{% extends 'base.html' %}
{% comment %} after extending from base.html, wherever 
variables are specified in base.html, thos can be changed {% endcomment %}
{% block title %}Login{% endblock title %}
{% block body %}
<div id='register'>
    <h3>New User, Register here</h3>
    <form method="post">
    {% csrf_token %}
    {% for field in form  %}
        <b>{{ field.label_tag }}</b> : {{ field }} 
        <br>
    {%endfor%}
    <input type="submit" value="Register">
</form>
</div>
{% endblock body %}